<!-- pages/base.html -->
<header>
    <h1>Blogger</h1>
    <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a> | <a href="{% url 'contact' %}">Contact</a> | <a href="{% url 'service' %}">services</a>
</header>
  
  {% block content %}
  {% endblock %}

  <footer>Copyrights@2017</footer>